body{
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(./istockphoto-1007768414-612x612.jpg);
    background-size: cover;
} 
.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0,0.1);
    
}
h1{
    text-align: center;

}

input{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 70%;
    margin-right: 10px;
}
button {
    padding: 10px;
    background-color: #1e582c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: #218838;

}

#weather-result{
    margin-top: 20px;
    font-size: 18px;
}